<web-app>
	    <context-param>
		   <param-name>V1</param-name>
		   <param-value>500</param-value>
		</context-param>
	    <context-param>
		   <param-name>V2</param-name>
		   <param-value>300</param-value>
		</context-param>
   <servlet>
      <servlet-name>F</servlet-name>
	  <servlet-class>SumServlet</servlet-class>
	  <load-on-startup>10</load-on-startup>
   </servlet>
   <servlet-mapping>
      <servlet-name>F</servlet-name>
	  <url-pattern>/sum.com</url-pattern>
   </servlet-mapping>
      <servlet>
      <servlet-name>S</servlet-name>
	  <servlet-class>BigServlet</servlet-class>
	    <init-param>
		   <param-name>SPECIAL</param-name>
		   <param-value>99</param-value>
		</init-param>
   </servlet>
   <servlet-mapping>
      <servlet-name>S</servlet-name>
	  <url-pattern>/big.com</url-pattern>
   </servlet-mapping>
</web-app>