<web-app>
<welcome-file-list>
   <welcome-file>table.com</welcome-file>
</welcome-file-list>
   <servlet>
      <servlet-name>X</servlet-name>
	  <servlet-class>TableServlet</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>X</servlet-name>
	  <url-pattern>/table.com</url-pattern>
   </servlet-mapping>
      <servlet>
      <servlet-name>E</servlet-name>
	  <servlet-class>DownloadServlet</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>E</servlet-name>
	  <url-pattern>/down.com</url-pattern>
   </servlet-mapping>
</web-app>